* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI Historic', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

html {
    height: 100vh;
}

/* Primeira Secao */

.root-background {
    background-color: #18191A;
}
.flex {
    display: flex;
}

.Facebook-header {
    display: flex;
    height: 56px;
    background-color: #242526;
}

.home-search {
    width: 320px;
    display: flex;
    align-items: center;
    margin-left: 14px;
    gap: 0 4px;
    line-height: 0;
}

/* Secao do Meio */

.social-buttons {
    display: flex;
    width: 1500px;
    justify-content: center;
    align-items: center;
}
.social-buttons ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.social-buttons li {
    display: flex;
    width: 111px;
    justify-content: center;
    height: 100%;
    padding: 10px 0;
    border-radius: 10px;
}
.social-buttons li svg {
    color: #B8BBBF;
}
.social-buttons li:hover {
    background-color: #3A3B3C;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.08, .52, .52,1);
}

.social-buttons li a {
    display: block;
    position: relative;
    /* padding: 0.2em 0; */
}

.social-buttons li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: hotpink;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.social-buttons li a:hover::after,
.social-buttons li a:focus::after{
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}


/* Ultima secao */

.config-control-conta {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 8px;
    line-height: 0;
}

.perfil-icon-container a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    font-weight: 600;
    color: #E4E6EB;
}
.perfil-icon {
    direction: ltr;
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

.config-plus img {
    height: 18px;
}
.config-plus {
    cursor: pointer;
}

.facebook-search {
    height: 40px;
    border-radius: 50px;
    border-style: none;
    background-color: #3A3B3C;
    padding-left: 10px;
}

.circulo {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: #3A3B3C;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.circulo:hover {
    background-color: #515355;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.08, .52, .52,1);
}



/* ================= SUPER 3 DIVS =====================*/
.white {
    background-color: rgb(77, 77, 77);
}



#Super3Divs {
    display: flex;
    /* flex-direction: column; */
}

#copy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 16px;
    color: white;
}

#page-navigation {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    flex-basis: 360px;
    padding-left: 14px;
    padding-top: 14px;
    flex-shrink: 9999;
    /* overflow-y: hidden; */
}
#page-navigation ul {
    display:flex;
    flex-direction: column;
    gap: 4px;
    list-style: none;
}

#page-navigation ul li div {
    display: flex;
    height: 44px;
    padding: 0 10px;
}
#page-navigation ul li {
    border-radius: 10px;
    
}
#page-navigation ul li div:hover {
    background-color: #3A3B3C;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.08, .52, .52,1);
    border-radius: 10px;

}
#page-navigation ul li div a {
    display: flex;
    text-decoration: none;
    color:#E4E6EB;
    align-items: center;
    gap: 10px;
}
#page-navigation ul li div a img {
    height: 28px;
}



#timeline-navigation {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    min-width: 0;
    flex-basis: 744px;
    flex-shrink: 1;
    flex-grow: 1;
}
#friends-navigation {
    display: flex;
    max-width: 360px;
    min-width: 280px;
    flex-basis: 360px;
    flex-shrink: 9999;
}


.dev-aprendendo {
    background-image: url(./images/sahil-patel-uGbhtd8q5Mg-unsplash.jpg);
    width: 1007px;
    height: auto;

    background-size: cover;


    margin: 0;
    padding: 0;
}

.dev-aprendendo div {
    display: flex;
    justify-content: center;
    height: 10vh;
}


.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    }

/* ----------------------------------------------
 * Generated by Animista on 2022-6-2 22:0:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
  